#contact {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    background-color: #f0f5ff;

    h2 {
      font-size: 2.3rem;
      color: #4a90e2;
      margin-bottom: 1rem;
  
      &:after {
        content: '';
        display: block;
        width: 80px;
        height: 4px;
        background-color: #4a90e2;
        margin: 0.5rem auto 1.5rem;
        border-radius: 2px;
      }
    }
  
    h3 {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      color:  #570f32;
      margin-bottom: 1.5rem;
  
      svg {
        margin-right: 0.5rem;
        color: #4a90e2;
      }
    }
  }
  