.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
  
    h3{
      margin-top: 0;
      color:  #570f32;    
    }
    h4 {
        margin-top: 0;
        color:  #666;;
    }
  
    h5 {
      margin-top: 20px;
      color: #4a90e2;
    }
  
    ul {
      padding-left: 20px;
      list-style-type: disc;
      li {
        font-size: 0.9rem;
        color: #555;
        margin: 5px 0;
      }
    }
  
    .technologies {
      display: flex;
      gap: 5px;
  
      .technology-badge {
        background-color: #f6e9f5e9;
        color: #570f32;
        padding: 5px 10px;
        font-size: 0.8rem;
        border-radius: 3px;
      }
    }
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f6e9f5e9;
    // border: none;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
        color: #4a90e2;        
        background-color: #f6e9f5e9      
    }
  }