  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f4f7fa;
    color: #333;
  
    h2 {
      font-size: 2.3rem;
      margin-bottom: 1rem;
      color: #4a90e2;
    }
  
    .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      width: 100%;
      max-width: 1200px;
    }
  
    .skills-card {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
      }
  
      .skills-content {
        padding: 1rem;
        text-align: center;
  
        h3 {
          font-size: 1.3rem;
          margin: 0.5rem 0;
          color:  #570f32;
        }
  
        button {
          background-color: #4a90e2;
          color: #fff;
          border: none;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          margin-top: 0.5rem;
          cursor: pointer;
          font-size: 0.9rem;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #357abd;
          }
        }
      }
  
      .skills-info {
        padding: 1rem;
        transition: max-height 0.3s ease;
        overflow: hidden;
  
        ul {
          list-style-type: none;
          padding: 0;
  
          li {
            background-color: #f6e9f5e9;;
            color: #570f32;
            padding: 5px;
            border-radius: 3px;
            display: inline-block;
            margin: 3px;
          }
        }
      }
    }
  }